<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Parkinson's Disease Genes </title>
</head>
<body>
    <h1>Parkinson's Disease Genes Information</h1>
    <table id="genesTable">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>NCBI Link</th>
            </tr>
        </thead>
        <tbody>
            <!-- Data rows will go here -->
        </tbody>
    </table>
    <script src="script.js"></script>
</body>
</html>
